@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.section-bg {
  background-image: url(/BG-2.webp);
  background-size: cover;
  background-position: center;
}

.section-bg-about {
  background-image: url(/BG-1.webp);
  background-size: cover;
  background-position: center;
}

.section-bg-client {
  background-image: url(/BG-3.webp);
  background-size: cover;
  background-position: center;
}

.section-bg-services {
  background-image: url(/BG-1.webp);
  background-size: cover;
  background-position: center;
}

.section-bg-contact {
  background-image: url(/BG-1.webp);
  background-size: cover;
  background-position: center;
}

.form {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 100%; /* Make the form take up the full width of the screen */
    max-width: 600px; /* Set a maximum width to prevent the form from stretching too wide */
    margin: 0 auto; /* Center the form horizontally */
    padding: 0 20px; /* Add some padding to the sides of the form */
  }
}

.text-area {
  height: 200px;
}

.service_bg {
  background-image: url(/BG-2.webp);
  background-size: cover;
  background-position: center;
}

.about_bg {
  background-image: url(/BG-2.webp);
  background-size: cover;
  background-position: center;
}
